*{
    margin: 0;
    padding: 0;
}
@keyframes miTransition{
    0%{
        
        opacity: 0;
        transform: translateY(50px);
    }
    50%{
        opacity: 0.5;
    }
    100%{
        
        transition: ease-out 2s;
        opacity: 1;
        transform: translateY(0px);

    }
}
section{
    min-height: 100vh;
}
.bienvenida h1{
    position: absolute;
    top: 100px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    letter-spacing: 8px;
    animation: miTransition 2s;

}
.bienvenida{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
}
.logo-bienvenida{
    animation: miTransition 2s;
    width: 90%;
}
.flecha {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    animation: miTransition 2s;

}
.bienvenida a{
    position: absolute;
    bottom: 50px;
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    animation: miTransition 2s;

}

/*************************MENU PRINCIPAL*********************************/
.menu-principal{
    background-color: rgb(9, 9, 9);
    transition: ease-in-out 1s;
    
    height: 100vh;
    width: 100vw;
    color: white;
}