*{
    margin: 0;
    padding: 0;
}
@keyframes miTransition{
    from{
        width: 10%;
    }
    to{
        width: 90%;
        transition: ease-out 2s;
    }
}
.bienvenida{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 105vh;
    width: 100vw;
}
.bienvenida img{
    animation: miTransition 2s;
    width: 90%;
}
.flecha {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
}