<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>El Bosque</title>
</head>
<body class="fondoBody">

    <main class="menu-principal">
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links" onclick="guardarMenu()">
                <li class="li1"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4" style="background-color: rgb(82, 82, 82)"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5"><a href="../views/desserts.html">DESSERTS</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
    
        <h2 class="titulo">BOISSONS CHAUDES</h2>

        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="café" data-price="2.00">
                <h3>Café</h3>
                <span class="price">$2.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Café allongé" data-price="2.20">
                <h3>Café allongé</h3>
                <span class="price">$2.20</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Double café américain" data-price="3.00">
                <h3>Double café américain</h3>
                <span class="price">$3.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Café au lait" data-price="3.50">
                <h3>Café au lait</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Cappuccino" data-price="4.50">
                <h3>Cappuccino</h3>
                <span class="price">$4.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Lait et Lait" data-price="4.90">
                <h3>Lait et Lait</h3>
                <p>Café au lait et lait concentré</p>
                <span class="price">$4.90</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Bombom" data-price="4.00">
                <h3>Bombom</h3>
                <p>Café allongé au lait concentré</p>
                <span class="price">$4.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Cappuccino au chocolat" data-price="5.50">
                <h3>Bombom</h3>
                <p>Base de Nutella et crème</p>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Chocolat chaud" data-price="5.80">
                <h3>Chocolat chaud</h3>
                <span class="price">$5.80</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Extra crème ou Chamallow" data-price="1.50">
                <h3>Extra crème ou Chamallow</h3>
                <span class="price">$1.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>
            
            <div class="menu-item" data-name="Infusions" data-price="3.90">
                <h3>Infusions</h3>
                <span class="price">$3.90</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>
            
            <div class="menu-item" data-name="Chai latte" data-price="4.50">
                <h3>Chai latte</h3>
                <span class="price">$4.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Lait de soja - lait amande" data-price="1.00">
                <h3>Lait de soja - lait amande</h3>
                <span class="price">$1.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <!-- Más ítems del menú... -->
        </div>

        <h2 class="titulo">BOISSONS FROIDES</h2>
        
        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="Sirop" data-price="2.50">
                <h3>Sirop</h3>
                <span class="price">$2.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Oasis" data-price="3.50">
                <h3>Oasis</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Lipton" data-price="3.50">
                <h3>Lipton</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Diabolo" data-price="3.50">
                <h3>Diabolo</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Orangina" data-price="3.50">
                <h3>Orangina</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Limonade" data-price="3.50">
                <h3>Limonade</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Coca-cola" data-price="3.50">
                <h3>Coca-cola</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Coca-cola zero" data-price="3.50">
                <h3>Coca-cola zero</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Schweppes Agrum" data-price="3.50">
                <h3>Schweppes Agrum</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Evian" data-price="5.50">
                <h3>Evian 1Lt</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="San Pellegrino" data-price="6.00">
                <h3>San Pellegrino 1Lt</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <!-- Más ítems del menú... -->
        </div>

        <h2 class="titulo">JUS NATURE</h2>

        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="Mûre" data-price="5.50">
                <h3>Mûre</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Fraise" data-price="5.50">
                <h3>Fraise</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Ananas" data-price="5.50">
                <h3>Ananas</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Mangue" data-price="5.50">
                <h3>Mangue</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Fruit de la passion" data-price="5.50">
                <h3>Fruit de la passion</h3>
                <span class="price">$5.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>            

            <!-- Más ítems del menú... -->
        </div>

        <h2 class="titulo">JUS NATURE MIX</h2>

        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="Sifrina" data-price="7.50">
                <h3>Sifrina</h3>
                <p>fraise et orange</p>
                <span class="price">$7.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Yellow" data-price="7.50">
                <h3>Yellow</h3>
                <p>Ananas et mangue</p>
                <span class="price">$7.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div> 
            
            <div class="menu-item" data-name="Coconut" data-price="7.50">
                <h3>Coconut</h3>
                <p>Lait de coco et Ananas</p>
                <span class="price">$7.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div> 

            <!-- Más ítems del menú... -->
        </div>

        <h2 class="titulo">APÉRITIFS ET DIGESTIF</h2>

        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="Kir" data-price="4.50">
                <h3>Kir</h3>
                <span class="price">$4.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Vermouth" data-price="4.50">
                <h3>Vermouth 4cl</h3>
                <span class="price">$4.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div> 
            
            <div class="menu-item" data-name="Campari" data-price="4.50">
                <h3>Campari 4cl</h3>
                <span class="price">$4.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div> 

            <div class="menu-item" data-name="Ricard" data-price="3.50">
                <h3>Ricard 2cl</h3>
                <span class="price">$3.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Cognac" data-price="8.50">
                <h3>Cognac - Jack Daniels</h3>
                <span class="price">$8.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Limoncello" data-price="6.50">
                <h3>Limoncello - Countreau</h3>
                <span class="price">$6.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Rhum Blanc" data-price="8.50">
                <h3>Rhum Blanc - brun</h3>
                <span class="price">$8.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>
            
            <div class="menu-item" data-name="Gin" data-price="8.50">
                <h3>Gin Tonic</h3>
                <span class="price">$8.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <!-- Más ítems del menú... -->
        </div>

        <h2 class="titulo">COCKTAIL</h2>

        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="Sangria" data-price="9.50">
                <h3>Sangria</h3>
                <p>Avec des fruit, pomme et orange</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Mimosa" data-price="9.50">
                <h3>Mimosa</h3>
                <p>Champagne et jus d´orange</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Pina colada" data-price="9.50">
                <h3>Piña colada</h3>
                <p>Rhum blanc, jus d´ananas, crème de coco</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Aperol spritz" data-price="9.50">
                <h3>Aperol Spritz</h3>
                <p>Prosecco, Aperol</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Caipirovodka" data-price="9.50">
                <h3>Caipirovodka</h3>
                <p>Citro vert, Vodka</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Margarita" data-price="9.50">
                <h3>Margarita</h3>
                <p>Tequila, Citron vert, cointreau</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Mojito tradicional" data-price="9.00">
                <h3>Mojito tradicional</h3>
                <p>Rhum, Citron vert, sucre de canne, menthe fraîche</p>
                <span class="price">$9.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Mojito fruit rouge" data-price="9.00">
                <h3>Mojito Fruit Rouge</h3>
                <p>Rhum, Citron vert, sucre de canne, menthe fraîche, fruit rouge et grenadine</p>
                <span class="price">$9.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Mojito fruit passion" data-price="9.00">
                <h3>Mojito Fruit de la Passion</h3>
                <p>Rhum, Citron vert, sucre de canne, menthe fraîche, pulpe de fruit de la passion</p>
                <span class="price">$9.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Mojito colada" data-price="8.00">
                <h3>Mojito Piña Colada Sans A.</h3>
                <span class="price">$8.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>
            

            <!-- Más ítems del menú... -->
        </div>

        <footer>
            <div>
                <h3>Nos réseaux</h3>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div>
                <h3>Contacts</h3>
                <p>+33 7 84 20 80 25</p>
                <p>+33 6 86 82 92 04</p>
            </div>
            <div>
                <h3>Nous localiser</h3>
                <p>Rue Lafayette 51, 01200, valserhôme</p>
                <a href="https://maps.app.goo.gl/4My3NU5B3tuqGAW98">Google Maps</a>
            </div>
        </footer>

    </main>

    <a href="../views/pedido.html" class="view-order">Vour ma commande</a>
    
    <script src="../js/script.js"></script>
</body>
</html>