<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>El Bosque</title>
</head>
<body class="fondoBody">

    <main class="menu-principal">
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
    
            <input type="checkbox" id="check-menu" class="check-menu">
    
            <ul class="nav-links" onclick="guardarMenu()">
                <li class="li1"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2" style="background-color: rgb(82, 82, 82)"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5"><a href="../views/desserts.html">DESSERTS</a></li>
            </ul>
    
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
    
        </nav>
    
        <p class="pedido">nada</p>
    
        <p class="total pedido" id="total-final">Total final: 0€</p>
    </main>
    
    <script src="../js/js.js"></script>
</body>
</html>