<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>El Bosque</title>
</head>
<body class="fondoBody">
    <main class="menu-principal">
        
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links">
                <li class="li1"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5" style="background-color: rgb(82, 82, 82)"><a href="../views/desserts.html">DESSERTS</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
        
        
        <section class="contenedorMenu">

            <div class="tituloMenu">
                <h2>DESSERTS</h2>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Capucchino Gourmand</p>
                        </div>
                        <div class="desc">
                            <p>Une mini version de plusieurs délices et un capucchino crémeux aux noix</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>12,50 €</p>
                    </div>
                </div>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Crêpes argentines</p>
                        </div>
                        <div class="desc">
                            <p>Confiture de lait, glace vanille macadamia et fruit rouges</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>8,90 €</p>
                    </div>
                </div>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Tiramisu</p>
                        </div>
                        <div class="desc">
                            <p>Au choix entre traditionnel ou pistache</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>8,90 €</p>
                    </div>
                </div>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Cheesecake</p>
                        </div>
                        <div class="desc">
                            <p>Au choix entre fruit de bois ou fuit de la passion</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>8,90 €</p>
                    </div>
                </div>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Pain perdu</p>
                        </div>
                        <div class="desc">
                            <p>Brioche avec glace au caramel salé et sirop de chocolat</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>8,90 €</p>
                    </div>
                </div>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Royal dôme</p>
                        </div>
                        <div class="desc">
                            <p>Biscuit dacquoise, croustillant parliné noisette amande, mousse chocolat et crème anglaise</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>8,90 €</p>
                    </div>
                </div>
            </div>

            <div class="contenido">
                <div class="contenidoSup">
                    <div class="alergenos">
                        <p>-</p>
                    </div>
                    <div class="nombreDesc">
                        <div class="nombre">
                            <p>Plavona</p>
                        </div>
                        <div class="desc">
                            <p>Aux fruit de bois et double crème de Gruyère</p>
                        </div>
                    </div>
                    <div class="precio">
                        <p>9,50 €</p>
                    </div>
                </div>
            </div>

        </section>

    </main>

    <script src="../js/js.js"></script>

</body>
</html>