<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>El Bosque</title>
</head>
<body class="fondoBody">

    <main class="menu-principal">
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links" onclick="guardarMenu()">
                <li class="li1" id="prueba"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3" style="background-color: rgb(82, 82, 82)"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5"><a href="../views/desserts.html">DESSERTS</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
     
        <h2 class="titulo">MENU ENFANTS</h2>
        <h2 class="titulo">13.90 €</h2>
        <h2 class="titulo2">PLATS</h2>

        <div class="menu-container" onclick="guardarMenu()">
            


            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="fish and chips" data-price="13.90">
                <h3>Filet de Boeuf</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="cheeseburger avec frites" data-price="13.90">
                <h3>Cheeseburger avec frites</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="nuggets de poulet avec frites" data-price="13.90">
                <h3>Nuggets de poulet avec frites</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="tagliatelles à la sauce tomate" data-price="13.90">
                <h3>Tagliatelles à la sauce tomate</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="escalope de poulet avec riz basmati" data-price="13.90">
                <h3>Escalope de poulet avec riz basmati</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>
        </div>
            
        <h2 class="titulo2">DESSERTS</h2>

        <div class="menu-container" onclick="guardarMenu()">
        
            <div class="menu-item" data-name="glace fricky fraise" data-price="0.0">
                <h3>Glace Fricky Fraise</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="glace punky vanille" data-price="0.0">
                <h3>Glace Punky vanille</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="glace kuaky chocolat" data-price="0.0">
                <h3>Glace Kuaky Chocolat</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>

            <div class="menu-item" data-name="crêpe au sucre ou à la nutella" data-price="0.0">
                <h3>Crêpe au sucre ou à la Nutella</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <button class="add-to-order">Añadir a mi pedido</button>
            </div>
            
            <!-- Más ítems del menú... -->
        </div>
    </main>


    
    
    <a href="../views/pedido.html" class="view-order">Vour ma commande</a>
    
    <script src="../js/script.js"></script>
</body>
</html>