<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>El Bosque</title>
</head>
<body>
    <main class="menu-principal-ninos">
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links" onclick="guardarMenu()">
                <li class="li1"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3"  style="background-color: rgb(82, 82, 82)"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5"><a href="../views/desserts.html">DESSERTS</a></li>

            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
        
        <section class="contenedorMenu">

            <div class="contenedorEnfants">
                <div class="tituloMenuEnfants">
                    <h2>MENU ENFANTS</h2>
                </div>
                
                <div class="menuEnfants">
                    <div class="platsEnfants">
                        <h3>PLATS</h3>
                        <ul>
                            <li>Fish and ships</li>
                            <li>cheeseburger avec frites</li>
                            <li>Nuggets de poulet avec frites</li>
                            <li>Tagliatelles à la sauce tomate</li>
                            <li>Escalope de poulet avec riz basmati</li>
                        </ul>
                    </div>
                    <div class="platsEnfants">
                        <h3>DESSERTS</h3>
                        <ul>
                            <li>Glace Fricky Fraise</li>
                            <li>Glace Punky vanille</li>
                            <li>Glace Kuaky Chocolat</li>
                            <li>Crêpe au sucre ou à la Nutella</li>
                        </ul>
                    </div>
                    <div>
                        <p>Boissons: Soda ou Sirope</p>
                        <p>Jusqu'à 10 ans</p>
                    </div>
                    
                </div>
                
            </div>

            
        </section>

        <a class="carrito" href="../views/carrito.html">
            <img src="../assets/imagenes/carrito.svg" alt="">
        </a>
        
    </main>

    <script src="../js/js.js"></script>

</body>
</html>