<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Pedido</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="fondoBody">
    <main class="menu-principal">

        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links" onclick="guardarMenu()">
                <li class="li1" id="prueba"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5"><a href="../views/desserts.html">DESSERTS</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
        
        <div onclick="guardarMenu()">
            <h1 class="titulo">Ma commande</h1>
            <div id="order-list">
            <!-- Los platos seleccionados aparecerán aquí -->
            </div>
            <a href="../views/tapas.html" class="back-to-menu">Retour au menu</a>
        </div>
        
    </main>
    
    <script src="../js/order.js"></script>
</body>
</html>