<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Menú del Restaurante</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="fondoBody">

    <main class="menu-principal">
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links" onclick="guardarMenu()">
                <li class="li1" id="prueba" style="background-color: rgb(82, 82, 82)"><a href="../views/tapas.html">TAPAS</a></li>
                <li class="li2"><a href="../views/plats.html">PLATS</a></li>
                <li class="li3"><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li class="li4"><a href="../views/boisson.html">BOISSON</a></li>
                <li class="li5"><a href="../views/desserts.html">DESSERTS</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu2.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
        <h2 class="titulo">TAPAS</h2>
        
        <div class="menu-container" onclick="guardarMenu()">
            <!-- Ejemplo de ítem del menú -->
            <div class="menu-item" data-name="soupe á l'oignon gratinée" data-price="8.90">
                <h3>Soupe á l'oignon gratinée</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$8.90</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="Trio mini Bao (pain japonais cuit à la vapeur)" data-price="12.50">
                <h3>Trio mini Bao (Pain japonais cuit à la vapeur)</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$12.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="brava avec poule et crevettes" data-price="12.90">
                <h3>Brava avec Poule et Crevettes</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$12.90</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="panier caraïbes" data-price="12.50">
                <h3>Panier Caraïbes</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$12.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="mini burger foigrass" data-price="10.00">
                <h3>Mini Burger FoiGrass</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$10.00</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="crevettes" data-price="8.50">
                <h3>Crevettes</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$8.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="bâtonnets de manioc tropical" data-price="8.50">
                <h3>Bâtonnets de manioc tropical</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$8.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="aubergines stracciatella" data-price="9.50">
                <h3>Aubergines stracciatella</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="mini reblochon" data-price="9.50">
                <h3>Mini Reblochon</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="carpaccio rôti de bœuf fumé" data-price="12.90">
                <h3>Carpaccio rôti de bœuf fumé</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$12.90</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="focaccia printemps" data-price="8.50">
                <h3>Focaccia printemps</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$8.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>

            <div class="menu-item" data-name="croquettes à la truffe" data-price="9.50">
                <h3>Croquettes à la truffe</h3>
                <p>200gr filet de boeuf accompagné de légumes sauté, puré de pomme de terre et la sause de votre choix</p>
                <span class="price">$9.50</span>
                <button class="add-to-order">Ajouter à ma commande</button>
            </div>
            <!-- Más ítems del menú... -->
        </div>

        <footer>
            <div>
                <h3>Nos réseaux</h3>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div>
                <h3>Contacts</h3>
                <p>+33 7 84 20 80 25</p>
                <p>+33 6 86 82 92 04</p>
            </div>
            <div>
                <h3>Nous localiser</h3>
                <p>Rue Lafayette 51, 01200, valserhôme</p>
                <a href="https://maps.app.goo.gl/4My3NU5B3tuqGAW98">Google Maps</a>
            </div>
        </footer>
    </main>


    
    
    <a href="../views/pedido.html" class="view-order">Vour ma commande</a>
    
    <script src="../js/script.js"></script>
</body>
</html> 