<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>El Bosque</title>
</head>
<body>
    <main class="menu-principal">
        <nav class="navbar">
            <div>
                <h1>El Bosque</h1>
            </div>
            <input type="checkbox" id="check-menu" class="check-menu">
            <ul class="nav-links">
                <li class="aqui"><a href="#">TAPAS</a></li>
                <li><a href="../views/plats.html">PLATS</a></li>
                <li><a href="../views/enfants.html">MANU ENFANTS</a></li>
                <li><a href="../views/boisson.html">BOISSON</a></li>
            </ul>
            <label for="check-menu" class="label-check">
                <img class="menu-hamburguesa" src="../assets/imagenes/menu.svg" alt="img menu" width="60" height="60">
            </label>
        </nav>
        
        <section class="contenedorTapas">
            <h2>TAPAS</h2>
            <div class="tapas">
                <p class="alergenos">Allergènes</p>
                <p class="nombrePlato"></p>
                <p class="precio">Prix</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1, 9</p>
                <p class="nombrePlato">Soupe á l'oignon gratinée</p>
                <p class="precio">8,90</p>
                <p class="euro">€</p>
                <p class="descripcion">À notre style, soupe à l'oignon traditionnelle française, <br> avec de la baguette gratinée au four</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,2,3,12,9,14</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">12,50</p>
                <p class="euro">€</p>
                <p class="descripcion">
                    - Boeuf sauté aux légumes sause teriyaki et cacahuètes.<br>
                    - Crevettes croustillantes avec MayoSucée et sésame. <br>
                    - Poulet légumes sautés du lait de coco et soja.
                </p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,2,3,9,11</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">12,90</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">4,12</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">12,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,3,9</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">10,00</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,2,3</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">8,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,3</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">8,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,9</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">9,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,5,9</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">9,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,3,5,9</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">12,90</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,3,9</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">8,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>
            <div class="tapas">
                <p class="alergenos">1,3,9</p>
                <p class="nombrePlato">Nombre Plato</p>
                <p class="precio">9,50</p>
                <p class="euro">€</p>
                <p class="descripcion">descricion</p>
            </div>

        
        </section>

    </main>
</body>
</html>